<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/d60e865119.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="profile.css">
</head>
<body>

    <header>
        <h1>Bo-Bo Tea</h1>
        <ul class="nav">
            <li><a href="/userMenu">Menu</a></li>
            <li><a href="/logout">Log-Out</a></li>
        </ul>  
    </header>

    <main class="mainProfile">
        <section id="profileInfo">
            <h4>User:<br>
            <span><%= user.local.userName%></span></h4>
            <h4>Name:<br>
            <span><%= user.local.firstName%> <%= user.local.lastName%></span></h4>
            <h4>Email:<br>
            <span><%= user.local.email%></span></h4>   
        </section>

        <section id="profileRewards">
            <h4>You have</h4>
            <h2> <%= user.local.rewardPoints %> points</h2>
           
        </section>
    </main>

</body>
</html>