<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boba Time!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <header>
        <h1>Bo-Bo Tea</h1>
    </header>
 <!-- if user is guest, form shows
    if user logged in, use saved address -->
    <main class="address">
        <section class="addressInput">
            <span>back to <a href="/userMenu">Menu</a></span>
            <form action="/address" method="post">
                <label for="address1">Address:</label><br>
                <input type="text" name="address1" placeholder="Address"><br>

                <label for="address2">Address:</label><br>
                <input type="text" name="address2" placeholder="Apt#, Floor, etc..."><br>

                <label for="city">City:</label><br>
                <input type="text" name="city" placeholder="City"><br>

                <label for="state">State:</label><br>
                <input type="text" name="state" placeholder="State"><br>

                <label for="zip">Area Zip Code:</label><br>
                <input type="text" name="zip" placeholder="Zipcode"><br>


                <a href="/purchaseCCard"><button>Add Address</button></a>

            </form>

            <a href="/purchaseCCard"><button>Continue</button></a>
        </section>

        
        <section class="orderCart">
            <h2>Your Order</h2>
            <%for(let i=0; i < bobaDB.length; i++) { console.log(bobaDB)%>
            <section id="<%= bobaDB[i]._id%>"">
                <span>Drink:</span>
                <p><%= bobaDB[i].drink %></p>

                <span>Toppings:</span>
                <p><%= bobaDB[i].toppings %></p>

                <span>Sugar:</span>
                <p><%= bobaDB[i].sugar %></p>

                <span>Ice:</span>
                <p><%= bobaDB[i].ice %></p>
                <span><i class="fa-solid fa-square-xmark"></i></span>
            </section>
            <% } %>
        </section>
    </main>

    


    <script src="main.js"></script>
</body>
</html>